<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 3 Assessment</title>
</head>
<body>
    <h1>To Do List:</h1>
    <hr>
    {% if todos|length == 0 %}
        <p>No items on the list yet...</p>
    {% else %}
        <ul>
            {% for todo in todos %}
                <li>{{ todo }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <hr>
    <a href="{% url 'add_todo' %}">Add A Todo</a>
</body>
</html>